@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body{width: 100%;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.rounded-circle{
    object-fit: cover;
}


.input{padding: 6px 12px 6px 12px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-size: 18px;
    color: #495057;
    width: 220px;
    transition: .3s;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
    .input:focus{border:1px solid #0000ff;}

.label{font-size: 18px;
    font-family: 'Quicksand', sans-serif;}

.button{cursor: pointer;
    padding: 0;
    height: 50px;
    width: 30%;
    border-radius: 30px;
    color: #ffffff;
    background-color: #0000ff;
    border: none;
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 20px;
    margin-top: 10px;}

.button:hover{
    transition: all .3s ;
    background-color: rgb(7, 52, 80);
    cursor: pointer;
}

form h1{font-family: 'Quicksand', sans-serif;}

.groupContent{
    margin: 10px 0;
}
