@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body{width: 100%;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

.rounded-circle{
    object-fit: cover;
}


.myServicesContent
{
    font-family: 'Quicksand', sans-serif;
}

.myServicesContent > h2
{
    margin: 4vh 0 ;
}

.card-img-top {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 400px; /* Define uma altura máxima para as imagens */
    object-fit: cover; /* Faz a imagem preencher o espaço sem distorção */
}
