@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body{width: 100%;
    margin: 0;
    background-color: rgb(230, 230, 230);
    background-color: #f8f9fa;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

#dados{width: 17%;
    height: 250px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 20px 20px 20px 0px;
    position: absolute;
    left: 22%;
    top: 370%;}

    #div-dados{text-align: end;}


.conjunto-dados{margin-bottom: 15px;}

#dados>div>h1{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: aliceblue;
}

.input{padding: 8px 12px 8px 5px;
    height: 20px;
    border-radius: 30px;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-size: 16px;
    color: #495057;
    width: 220px;
    transition: .3s;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}
    .input:focus{border:1px solid #0000ff;}

.label{font-size: 22px;
    color: aliceblue;}

#form{display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;}

.botao{width: 40%;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    background-color: blue;
    color: aliceblue;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;}

.botao:hover{
    transition: all .3s ;
    background-color: rgb(7, 52, 80);
    cursor: pointer;
}

.botao-delete{width: 10%;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    background-color: blue;
    color: aliceblue;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    left: 25%;
    top: 750%;}

.botao-delete:hover{
    transition: all .3s ;
    background-color: rgb(7, 52, 80);
    cursor: pointer;
}

#invisivel{
    visibility: hidden;
}


.profile-picture {
    width: 150px;  /* Largura da imagem */
    height: 150px; /* Altura da imagem */
    object-fit: cover;  /* Corta a imagem para preencher o container */
    border-radius: 50%; /* Deixa a imagem circular */
    border: 2px solid #ddd; /* Borda ao redor da imagem (opcional) */
}

.rounded-circle{
    object-fit: cover;
}